- production = process.env.NODE_ENV === 'production'

-linkTo		= {}
-linkTo.vk	= 'vk.com/jata_ru'
-linkTo.fb	= 'facebook.com/groups/157503494655426/'
-linkTo.ig	= 'instagram.com/jata.ru/'

-linkTo.root = 'https://vynil.jata.ru'

-phone		= {}
-phone.read	= production ? '{{ info.phone }}' : '8 (812) 274 13 38'
-phone.call	= production ? '{{ info.phone_link }}' : '+78122741338'

-address = production ? '{{ info.address }}' : 'Атаманская ул., 6В'

-workingTime = ['10:00', '19:00']

-linkTo.static = '/static/'
