- production = process.env.NODE_ENV === 'production'

-linkTo		= {}
-linkTo.vk	= 'vk.com/jata_ru'
-linkTo.fb	= 'facebook.com/groups/157503494655426/'
-linkTo.ig	= 'instagram.com/jata.ru/'

-linkTo.root = production ? 'https://vynil.jata.ru' : 'localhost:7777/'

-phone		= {}
-phone.read	= '8 (812) 274 13 38'
-phone.call	= '+78122741338'

-address = 'СПб, Суворовский пр., д. 65Б, офис 16'

-workingTime = ['10:00', '19:00']

-linkTo.static = '/static/'