include ../../blocks/address/address
include ../../blocks/burger/burger
include ../../blocks/copy/copy
include ../../blocks/footer/footer
include ../../blocks/foot-nav/foot-nav
include ../../blocks/header/header
include ../../blocks/logo/logo
include ../../blocks/message/message
include ../../blocks/navigation/navigation
include ../../blocks/phone-number/phone-number
include ../../blocks/store-btn/store-btn
include ../../blocks/up-btn/up-btn
include links

block includes

block page_id

<!DOCTYPE html>
html(lang='ru')
	head
		block title
		include head
	body
		header.header
			+header
				+logo(mods=['index'])
				+navigation(mods=['index'])
					+navItem('/about.html', 'О jata.ru')(title='О jata.ru')
					+navItem('/how.html', 'Вопросы и ответы')(title='Вопросы и ответы')
					//- +navItem('/cap.html', 'Рекламные места')(title='Рекламные места')
					+navItem('/gallery.html', 'Галерея')(title='Галерея')
					+navItem('/contacts.html', 'Контакты')(title='Контакты')
				+hBtn(linkTo.reg, 'Вход/<br>Регистрация')(mods=['enter', 'enter-reg-fix'])
				if pageId === 'foradv'
					+hBtn('/index.html', 'Водителям')(mods=['for-advers'])
				else
					+hBtn('/foradv.html', 'Рекламодателям')(mods=['for-advers'])
				+burger(mods=['mb14'])
		
		if pageId === 'foradv'
			main.main.main--foradv
				block content
		else
			main.main
				block content

		footer.footer
			+footer
				+footNav
					+fnHalf
						+fnItem('/about.html', 'О компании')
						+fnItem('/rules.html', 'Правила пользования')
						+fnItem('/data.html', 'Защита данных')
					+fnHalf
						+fnItem('/how.html', 'Вопросы и ответы')
						+fnItem('/contacts.html', 'Контакты')
						//- +fnItem('/cap.html', 'О нас')
						//- +fnItem('/team.html', 'Команда')
						+fnItem('/cap.html', 'Пресса о нас')
					.footer__soc
						+socIcon(linkTo.vk, 'Вконтакте')(data-icon='vk')
						+socIcon(linkTo.fb, 'Фейсбук')(data-icon='fb')
						//- +socIcon('twitter.com', 'Твиттер')(data-icon='tw')
						+socIcon(linkTo.ig, 'Инстаграм')(data-icon='ig')
						//- +socIcon('youtube.com', 'Ютуб')(data-icon='yt')

				+fInfo
					+address(address.office, 'http://goo.gl/xGdsde', '(10:00-19:00)')
					
					+phoneNumber(phoneNumber.main.call, '8 (812)', '274 13 38')

					+fBtns
						+storeBtn('apple')(mods=['tar', 'mb10'])
						+storeBtn('google')(mods=['tar', 'mb10'])

					+copy(2016, 'Jata All Rights Reserved')

		.modals
			+message('Спасибо за предоставленную информацию. Наш представитель свяжется с Вами.')(mods='success')
			+message('Во время отправки данных произошла ошибка. Пожалуйста, попробуйте позднее.')(mods='fail')

		+upBtn

		//- загружаем жЫквери с цдн
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
		//- если не загружается, то подтягиваем свой
		script.
			window.jQuery || document.write('<script src=\'js/jquery.min.js\'><\/script>')

		//- загружаем масонри с цдн
		script(src='https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js')
		//- если не загружается, то подтягиваем свой
		script.
			window.Masonry || document.write('<script src=\'js/masonry.pkgd.min.js\'><\/script>')

		//- загружальщик картинок
		script(src='https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js')
		script.
			window.imagesloaded || document.write('<script src=\'js/imagesloaded.pkgd.min.js\'><\/script>')

		//- свои скрипты
		script(src='js/main.js')