html
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing antialiased

body
	min-width mobile
	font-family museo, Arial, Helvetica
	font-weight 300

.main
	background-color white

.no-scroll
	overflow hidden