html
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing antialiased

body
	min-width mobile
	font-family museo, Arial, Helvetica, sans-serif
	font-weight 300
	// overflow-x hidden

.main
	background-color white

.no-scroll
	overflow hidden