.promo
	background-image url(pathToStatic + 'img/promo__bg2.jpg')
	background-position 50% 100%
	background-position center bottom
	background-repeat no-repeat
	background-size cover
	position relative
	overflow-x hidden
	margin-bottom -70px
	
	@media (min-width desktop)
		margin-bottom -100px
	
	&:before
		content ''
		position absolute
		bottom 0
		left 0
		width 100%
		border-right 62vw solid white
		border-bottom none
		border-left 38vw solid white
		border-top 30px solid transparent
		
		@media (min-width tablet)
			border-top 60px solid transparent
		
		@media (min-width desktop)
			border-top 111px solid transparent

	&__content
		container()
		
		padding-top 50px
		padding-bottom 60px
		display flex
		flex-direction column
		justify-content flex-end
		
		@media (min-width tablet)
			padding-bottom 80px
	
	&__title
		display flex
		flex-direction column
		position relative
		top 5px
	
	&__text
		color white
		text-shadow 2px 2px 1px rgba(black, .5)
		
		&--small
			font-size (26rem / 16)
			font-weight 500
			display flex
			align-items center
			margin-left 4px
			text-transform lowercase
			
			&:before
			&:after
				content ''
				width 4px
				height 25px
				background-color blue
			
			&:before
				margin-right 10px
			
			&:after
				margin-left 10px
			
			span
				position relative
				top -2px
		
		&--big
			font-size (40rem / 16)
			font-weight 900
			text-transform uppercase
	
	&__car
		// width 480px
		// height 160px
		// width 100%
		// padding-bottom 33%
		background-image url(pathToStatic + 'img/promo__car.png')
		background-position center
		background-size contain
		background-repeat no-repeat
		position relative
		width 480px
		height round(@width / 3)
		
		@media (min-width tablet)
			width 720px
			height round(@width / 3)
		
		@media (min-width desktop)
			width 1090px
			height round(@width / 3)
			margin-right auto
			margin-left auto
	
	@media (min-width tablet)
		&__text
			&--small
				font-size (30rem / 16)
				margin-bottom 5px
				
				&:before
					margin-right 20px
				
				&:after
					margin-left 20px
			
			&--big
				font-size (55rem / 16)
	
	@media (min-width desktop)
		&__title
			margin-left 60px
			margin-bottom -35px