include ../../blocks/template/links
include ../../blocks/tenon/tenon

section.promo#promo-bg
	+tenon(address, 'address')

	.promo__content
		h1.promo__title
			span.promo__text.promo__text--small
				span Оклейка авто
			span.promo__text.promo__text--big
				| Виниловой
				br
				| пленкой
		.promo__car#car-bg