@import '../blocks/styleguide/reset'
// @import '../blocks/styleguide/css-hacks'
@import '../blocks/styleguide/z-indexes'
@import '../blocks/styleguide/variables'
@import '../blocks/styleguide/mixins'
@import '../blocks/styleguide/fonts'
@import '../blocks/styleguide/placeholders'
@import '../blocks/styleguide/geometry'
@import '../blocks/styleguide/animations'
@import '../blocks/styleguide/texts'
@import '../blocks/styleguide/bicon'

@import '../blocks/template/template'

@import '../blocks/arrow-btn/arrow-btn'
@import '../blocks/cross-btn/cross-btn'
@import '../blocks/loader/loader'
@import '../blocks/phone/phone'
@import '../blocks/price/price'
@import '../blocks/section/section'
@import '../blocks/tenon/tenon'
@import '../blocks/title/title'

@import '../components/features/*'
@import '../components/footer/*'
@import '../components/gallery/*'
@import '../components/header/*'
@import '../components/index/*'
@import '../components/map/*'
@import '../components/modals/*'
@import '../components/promo/*'
