@import '../blocks/styleguide/reset'
// @import '../blocks/styleguide/css-hacks'
@import '../blocks/styleguide/z-indexes'
@import '../blocks/styleguide/variables'
@import '../blocks/styleguide/mixins'
@import '../blocks/styleguide/fonts'
@import '../blocks/styleguide/placeholders'
@import '../blocks/styleguide/geometry'
@import '../blocks/styleguide/animations'
@import '../blocks/styleguide/texts'
@import '../blocks/styleguide/bicon'

@import '../blocks/template/template'

@import '../blocks/phone/phone'
@import '../blocks/section/section'
@import '../blocks/title/title'

@import '../components/features/*'
@import '../components/footer/*'
@import '../components/header/*'
@import '../components/promo/*'