triangle(way, h, w, c)
	width 0
	height 0
	
	if way == up
		border-top none
		border-bottom h solid c
		border-left w solid transparent
		border-right w solid transparent
	
	if way == down
		border-bottom none
		border-top h solid c
		border-left w solid transparent
		border-right w solid transparent
	
	if way == left
		border-left none
		border-right h solid c
		border-top w solid transparent
		border-bottom w solid transparent
	
	if way == right
		border-right none
		border-left h solid c
		border-top w solid transparent
		border-bottom w solid transparent
		
	if way == top-rigth
		border-top (h/2) solid c
		border-right (w/2) solid c
		border-bottom (h/2) solid transparent
		border-left (w/2) solid transparent

	if way == right-bottom
		border-top (h/2) solid transparent
		border-right (w/2) solid c
		border-bottom (h/2) solid c
		border-left (w/2) solid transparent

	if way == bottom-left
		border-top (h/2) solid transparent
		border-right (w/2) solid transparent
		border-bottom (h/2) solid c
		border-left (w/2) solid c

	if way == left-top
		border-top (h/2) solid c
		border-right (w/2) solid transparent
		border-bottom (h/2) solid transparent
		border-left (w/2) solid c
