placeholder()
	&::-webkit-input-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}

slow(prop)
	transition prop .3s

size(x)
	width x
	height @width

container()
	max-width mobile-width
	margin-left auto
	margin-right auto
	
	@media (min-width tablet)
		max-width tablet-width
	
	@media (min-width desktop)
		max-width desktop-width