placeholder()
	&::-webkit-input-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}

slow(prop)
	transition prop .3s

size(x)
	width x
	height @width