$clearfix
	&:before
	&:after
		content ''
		display table
		height 0
		width 100%
	
	&:after
		clear both

$hidden-input
	position absolute
	clip rect(0, 0, 0, 0)
		
//	//	//	//	//	//	//	//	//	//
//		PSEUDOELEMENTS			//
//	//	//	//	//	//	//	//	//	//
$pseudo
	display inline-block
	content ''

$abs
	position absolute
