for i in 0..30
	$zi{i}
		z-index i

zi(index, classes...)
	for item in classes
		.{item}
			@extend $zi{index}

zi(8,
	discount,
	photo)

zi(7, modal__bg)

zi(6,
	tenon--callback,
	callback)

zi(5,
	section--antigrav,
	up-btn)

zi(4, section--branding)

zi(3, section--full)

zi(2,
	header,
	section--vynil)

zi(1,
	tenor__shadow,
	section__body,
	section--part,
	prices)