include ../../blocks/phone/phone

-nav = []
-nav.push(['#service', 'Услуги'])
-nav.push(['#price', 'Цены'])
-nav.push(['#gallery', 'Галерея'])
-nav.push(['#contacts', 'Контакты'])

header.header
	.header__lines
		.header__line.header__line--black
		.header__line.header__line--red
			.header__line-inner
	.header__content
		.header__side.header__side--red
			.header__logo

		.header__side.header__side--black
			nav.nav.nav--hidden#nav
				ul.nav__list
					for item in nav
						li.nav__item
							a.nav__link(href=item[0])=item[1]

			+phone
			

			button.burger#burger(type='button')
				span.burger__strip