.gallery
	background-image url(/img/gallery__bg.jpg)
	background-size cover
	background-repeat no-repeat
	
	&__content
		container()
		
		padding-top 78px
		padding-bottom 77px
		text-align center
	
	&__title
		padding-top 4px
		padding-bottom 4px
		min-width 160px
		margin-bottom 50px

		.title
			&__text
				font-weight 700
				font-size (30rem / 16)
				
				@media (min-width tablet)
					font-size (40rem / 16)
					min-width 180px