include ../../blocks/arrow-btn/arrow-btn
include ../../blocks/title/title

-categories = ['Эффект панорманой крыши', 'Антигравийная пленка', 'Оклейка кузова целиком', 'Винилография', 'Частичная оклейка кузова']

section.gallery#gallery
	.gallery__content
		+title(2, 'blue')(class='gallery__title')
			| Галерея
		ul.cat
			//- each cat, i in categories
				if i === 0
					li.cat__item.cat__item--active
						span.cat__text(title=cat)=cat
				else
					li.cat__item
						span.cat__text(title=cat)=cat

		.carousel
			.carousel__stage#stage

			.carousel__nav
				+arrowBtn('prev')#carousel-btn--prev
				+arrowBtn('next')#carousel-btn--next
