.features
	&__content
		container()
		
		display flex
		flex-wrap wrap
		justify-content center
		align-content flex-start
		padding-top 40px
		padding-bottom 30px
	
		@media (min-width tablet)
			flex-wrap nowrap
			justify-content space-between
		
		@media (min-width desktop)
			padding-bottom 50px