.features
	&__content
		container()
		
		display flex
		flex-wrap wrap
		justify-content center
		align-content flex-start
		padding 40px 0
	
	@media (min-width tablet)
		&__content
			flex-wrap nowrap
			justify-content space-between