include ../../blocks/price/price

-blueWhite = ['Капот', 'Полоса на капот', 'Бампер (перед зад)', 'Накладка на задний бампер', 'Крыша', 'Полоска на крышу', 'Крыло переднее', 'Крыло заднее (без стойки)', 'Крыло заднее со стойкой', 'Дверь', 'Задняя дверь (багажник)', 'Накладка на порог 4 шт.', 'Порог внешний', 'Зеркало заднего вида 1 шт.', 'Фара 1 шт.', 'Вставка под ручку двери']

-blueTall = ['от 9000', 'от 2500', 'от 9000', 'от 2500', 'от 9000', 'от 2500', '3500', 'от 5000', 'от 15000', 'от 5000', 'от 6000', 'от 3500', 'от 7000', 'от 2000', 'от 1500', 'от 2000']

-blueMid = ['от 3000', 'от 500', 'от 4000', 'от 500', '4000', 'от 500', 'от 2000', 'от 2000', 'от 4000', 'от 2000', 'от 3000', 'от 1000', 'от 4000', 'от 1500', 'от 500', 'от 500']

-redWhite = ['Малый класс', 'Средний', 'Бизнес', 'Универсал', 'Кроссовер', 'Внедорожник', 'Микроавтобус/минивен', 'Представительский', 'V.I.P.', 'Эксклюзив', 'Мототехника (мотоцикл/скутер/гидроцикл/квадроцикл)']

-redTall = ['30000', '35000', '37000', '37000', '40000', '50000', '50000', '55000', '65000', 'Индивидуальный расчет', 'Индивидуальный расчет']

-titles = ['2D-Карбон', '3D-Карбон', '4D-Карбон', '5D-Карбон', '6D-Карбон', '7D-Карбон', '8D-Карбон', '9D-Карбон']
-prices = ['2 000', '3 000', '4 000', '5 000', '6 000', '7 000', '8 000', '9 000']

section.prices#price
	+price('blue', 'Цены', 'на винил и защитные пленки', [blueWhite, blueTall, blueMid], 3, 'price')
	+price('red', 'Оклейка', 'кузова целиком', [redWhite, redTall], 2, 'branding')
