include ../../blocks/price/price

-titles = ['2D-Карбон', '3D-Карбон', '4D-Карбон', '5D-Карбон', '6D-Карбон', '7D-Карбон', '8D-Карбон', '9D-Карбон']
-prices = ['2 000', '3 000', '4 000', '5 000', '6 000', '7 000', '8 000', '9 000']

section.prices#price
	+price('blue', 'Цены', 'на винил и защитные пленки', [titles, prices], 3)
	+price('red', 'Оклейка', 'кузова целиком', [titles, prices], 2)