<!DOCTYPE html>
html(lang='ru')
	head
		include ./blocks/template/head
	body.vynil
		include ./components/header/header
		
		main.main
			include ./components/promo/promo
			include ./components/features/features
			include ./components/sections/sections
			include ./components/prices/prices
			include ./components/gallery/gallery
			section.map#map

		include ./components/footer/footer

		//- загружаем жЫквери с цдн
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
		//- если не загружается, то подтягиваем свой
		script.
			window.jQuery || document.write('<script src=\'#{linkTo.static}js/jquery.min.js\'><\/script>')
		
		//- maps
		script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')

		//- свои скрипты
		script(src=linkTo.static + 'js/main.js')